<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Campeonatos</title>
    {% load static %}  <!-- Carga la etiqueta de archivos estáticos -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Lista de Campeonatos</h1>
    <ul class="campeonatos-lista">
        {% for campeonato in campeonatos %}
            <li class="{% if campeonato.equipos.count >= campeonato.max_equipos %}tachado{% endif %}">
                {{ campeonato.nombre }} ({{ campeonato.equipos.count }}/{{ campeonato.max_equipos }} equipos)
            </li>
        {% endfor %}
    </ul>
</body>
</html>
