<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Próximo Partido</title>
    {% load static %}  <!-- Carga la etiqueta de archivos estáticos -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="navbar">
            <img class="logo" src="{% static 'img/statsportivalogo.png' %}" alt="StatSportiva Logo">
            <nav>
                <ul>
                    <li><a href="{% url 'proximo_partido' %}">Inicio</a></li>
                    <li><a href="#">Estadisticas</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'perfil_usuario' %}">Perfil</a></li> <!-- Enlace al perfil del usuario -->
                    {% endif %}
                </ul>
            </nav>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                    {% if not equipo_inscrito %}
                        <button><a href="{% url 'inscribir_equipo' %}">Inscribir equipo</a></button>
                    {% endif %}
                    <!-- Formulario para cerrar sesión -->
                    <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Cerrar Sesión</button>
                    </form>
                {% else %}
                    <button><a href="{% url 'login' %}">Iniciar Sesión</a></button>
                {% endif %}
            </div>
            
        </div>
        
    </header>
    <section class="banner">
        <div id="bannerCarrusel" class="carousel slide" data-ride="carousel">
            <!-- Indicadores de las fotos -->
            <ol class="carousel-indicators">
                <li data-target="#bannerCarrusel" data-slide-to="0" class="active"></li>
                <li data-target="#bannerCarrusel" data-slide-to="1"></li>
                <li data-target="#bannerCarrusel" data-slide-to="2"></li>
            </ol>
    
            <!-- Las imágenes del carrusel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/banner1.jpg' %}" class="d-block w-100" alt="Banner 1">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/banner2.jpg' %}" class="d-block w-100" alt="Banner 2">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/banner3.jpg' %}" class="d-block w-100" alt="Banner 3">
                </div>
            </div>
    
            <!-- Controles de navegación -->
            <a class="carousel-control-prev" href="#bannerCarrusel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#bannerCarrusel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </section>
    

    <section class="match-info">
        <h2 class="match-title">Próximo partido</h2>
        <div class="match-teams">
            <div class="team" style="background-color: #ff3333;">
                <img src="{% static 'images/shohoku.png' %}" alt="">
                <p>Shohoku</p>
            </div>
            <div class="vs-container">
                <div class="vs">
                    <p>VS</p>
                </div>
            </div>
            <div class="team" style="background-color: #3366ff;">
                <img src="{% static 'images/kainan.png' %}" alt="">
                <p>Kainan</p>
            </div>
        </div>
        <p class="match-details">sáb, 31° agosto | 12:30 | Preparatoria Shohoku</p>
    
        <div class="stats-links">
            <a href="#">Estadísticas</a>
            <a href="#">Alineaciones</a>
            <a href="#">Posiciones</a>
        </div>
    </section>
    
    

    <footer>
        <p>Condiciones para el uso | Política de Privacidad | Anuncios basados en intereses</p>
        <p>© StatSportiva. Todos los derechos reservados.</p>
    </footer>
    <!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
